
.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;
  max-width: max(42%, 386px);

  &__detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .main {
    max-width: 100%;
    padding: 14px;
  }
}